<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="top-container">

    <h1 class="heading">Tap-Tour</h1>
    <h5 class="sub-heading">
      Info is just a tap away!
    </h5>
    <p class="sub-heading">
      Whenever you see this logo, click the scan button
    </p>

    <div class="flex-center">
      <img src="./assets/images/icon.png" class="main-img" />
      <!-- <div class="image-container">
        <img src="./assets/images/icon.png" class="main-img" />
      </div> -->

      <ion-button class="scan-button" fill="outline" type="button" expand="block" color="tertiary"
        (click)="readNFCTag()">
        <ion-icon name="radio" slot="start"></ion-icon>
        Scan
      </ion-button>
      <p class="sub-heading">
        Then tap your phone on the tag.
      </p>

      <ion-button *ngIf="isWeb" class="scan-button" fill="outline" type="button" expand="block" color="tertiary"
        (click)="navigateArtwork(1)">
        <ion-icon name="radio" slot="start"></ion-icon>
        Direct Test
      </ion-button>


      <br />
    </div>



  </div>




</ion-content>