<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>All My Artworks</ion-title>

  </ion-toolbar>
</ion-header> -->


<ion-list>
  <ion-item *ngFor="let f of artworks" (click)="editArt(f.id)">
    <ion-icon name="diamond"></ion-icon>
    <ion-label>{{f.title}}</ion-label>
    <ion-button slot="end" (click)="writeTag($event, f)">
      <ion-icon name="flash-outline"></ion-icon>
      Write Tag
    </ion-button>
  </ion-item>
</ion-list>